@use "../../variables";

button {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: variables.$color-white;
  font-size: variables.$size-middle;
  transition: variables.$transition;
  cursor: pointer;
}
.success {
  background-color: variables.$color-primary;
  &:hover {
    background-color: rgba(variables.$color-primary, 0.8);
  }
}
.danger {
  background-color: variables.$color-danger;
  &:hover {
    background-color: rgba(variables.$color-danger, 0.8);
  }
}
