@import "../../variables.scss";

button {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: $color-white;
  font-size: $size-middle;
  transition: $transition;
  cursor: pointer;
}
.success {
  background-color: $color-primary;
  &:hover {
    background-color: rgba($color-primary, 0.8);
  }
}
.danger {
  background-color: $color-danger;
  &:hover {
    background-color: rgba($color-danger, 0.8);
  }
}
