// Colors

$color-black: black;
$color-white: white;
$color-opacity-text: #969ea1;
$color-opacity-box: #fafafa;
$color-primary: #1677ff;
$color-danger: #ff4d4f;
$color-menu: #001529;
$color-main: #e3effe;

// Font-size

$size-large: 16px;
$size-middle: 14px;

// Font-weight

$font-bold: bold;
$font-normal: normal;

// Transitiaon

$transition: all 0.4s;
