@use "../../variables";

.homePage {
  height: 100%;
  overflow: auto;
  h1 {
    text-align: center;
  }
}

.modal-form {
  input,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid variables.$color-opacity-text;
    border-radius: 3px;
    margin-bottom: 20px;
    &:hover {
      border: 1px solid variables.$color-primary;
    }
    &:focus {
      outline: 1px solid variables.$color-primary;
    }
    &:first-child {
      margin-top: 20px;
    }
    &[type="checkbox"] {
      width: 20px;
      height: 20px;
    }
    // &[type="file"] {
    //   width: 100px;
    //   background-color: variables.$color-opacity-box;
    //   cursor: pointer;
    // }
  }

  select {
    width: 50%;
  }
}
